{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": [
    ["transform-class-properties", {"spec": true}],
    "array-includes",
    "syntax-class-properties",
    "syntax-decorators",
    "syntax-export-extensions",
    "syntax-object-rest-spread",
    "transform-decorators-legacy",
    "transform-object-assign",
    "transform-object-rest-spread"
  ]
}